<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<body>
    <h1>
        404 Not Found
    </h1>
    <div>
        <img src="/img/chillguy.png" alt="404 Image" style="height: 1000px;">
    </div>
    
    
</body>
<style>
    body, html {
        height: 100vh;
        margin: 0;
        display: flex;
        justify-content: center;  /* 水平置中 */
        align-items: center;      /* 垂直置中 */
        flex-direction: column;   /* 讓 h1 和 img 垂直排列 */
        text-align: center;
    }
    
    img {
        height: 500px; /* 調整圖片高度 */
        max-width: 100%; /* 避免圖片超過螢幕 */
    }
</style>
</html>