<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>成功加入</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

    
</head>
<body>
    <div class="container">
        <h2><%= msg %></h2>
        <div class="form-group">
            <p><a href="<%= url %>">點擊跳轉</a></p>
        </div>
    </div>
</body>
</html>
